---
---

:root {
  --laranjaCTAbg: #aa382d;
  --azul2ndTitleBG: #84bdcf;
  --brancoCTAbg: #fefefe;
  --bg: #eedec4;
  --text: #141827;
  --claroText: #273671;
  --headerBg: #e2c89c;
  --titleBg: #e8b32c;
}

html, body { height: 100%; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  color: var(--text);
  font-family: Chivo, Verdana, sans-serif;
}

img { width: 100%; }

/* GRID */

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: .5rem;
  grid-template-areas: 
    'header header header header'
    'content content content content'
    'footer footer footer footer';
}


nav { grid-area: nav; }
header { grid-area: header; }
.content { grid-area: content; }
.gap { grid-area: gap; }
footer { grid-area: footer; }

/* TYPOGRAPHY */

h1, h2, h3 {
  font-family: Unna, Georgia, serif;
  margin: 2.8rem 0 1.4rem;
}

.copy h2, .copy h3, .copy h4, .title {
  color: var(--claroText);
}

p {
  line-height: 1.4;
  margin-bottom: 1.4em;
}

li {
  margin-left: 1em;
}

.title h2 { 
  font-size: 1rem;
  font-weight: normal;
}

.mono h3 {
  padding-top: .5rem;
}

.mono em, strong {
  color: var(--claroText);
}

hr {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--laranjaCTAbg), var(--laranjaCTAbg), var(--laranjaCTAbg),rgba(0, 0, 0, 0));
  border: 0;
  height: 1px;
  margin-top: 1rem;
}


/* LINKS */

*:hover{ 
  text-decoration: none;
  transition: all 0.5s;
}

nav a { 
  color: var(--text); 
  text-decoration: none;
}

.content a {
  color: var(--laranjaCTAbg);
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.content a::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--laranjaCTAbg);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.content a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Buttons */

a.button--dark {
  color: var(--brancoCTAbg);
  background: var(--laranjaCTAbg);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

/* HEADER */

header{
  animation: slide 2s forwards;
  background: var(--azul2ndTitleBG);
  background-image: url(../img/header-bg.gif);
  background-repeat: repeat-x;
  width: 100%;
  display: grid;
  align-items: baseline;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, auto);
  position: relative;
  left: -100%;
  z-index: -1;
}

.brand { 
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 1em 0 0 1em; 
}

.brand img {width: 155px;}

nav {
  grid-column: 3/ last-line;
  grid-row: 1/2;
}

.hero {
  grid-column: 4/ 10;
  grid-row: 2/ last-line;
  text-align: center;
}

.hero > h1 {
  font-family: chivo, sans-serif;
  margin-top: 4rem;
}

.hero > h2 {
  font-style: italic;
  margin-bottom: 4rem;
}


/* NAV */
nav > ul > li {

  display: inline-flex;
  padding-bottom: .5rem; 
}


/* CONTENT */

.content{ 
  justify-content: center;
  box-shadow: 0 -7px 7px rgba(0, 0, 0, .1 );
}

.box {
  animation: fade 2s;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: 
    minmax(1rem, 1fr) minmax(auto, 29rem) minmax(auto, 29rem) minmax(1rem, 1fr);
  grid-gap: 1rem; 
  cursor: pointer;
}

.box h3 {
  background: var(--titleBg);
  display: inline-flex;
  font-size: 2rem;
  padding: .5rem;
  margin: 1rem;
}

.box h4 {
  color: var(--laranjaCTAbg);
  text-transform: uppercase;
  font-size: .8rem;
  margin: .2rem 0;
}

.box > .box--esquerda {
  grid-column: 2/3;
}

.box > .box--direita {
  grid-column: 3/4;
}

.--rullerOnTop {
  border-top: solid 1px var(--laranjaCTAbg);
}

.box > .box--cursos, .box > .box--seminarios {
  border-top: solid 1px var(--laranjaCTAbg);
  background: cover;
  background-position: center;
  transition: all .2s ease-in-out;
}

.box--cursos {
  background-image: url(../img/cursos.jpg);
  background-size: auto 500px;
}

.box--seminarios {
  background-image: url('../img/seminarios.jpg');
  background-size: auto 500px;
}

.box--seminarios:hover {
  background-size: auto 530px;
}

.box--cursos:hover {
  background-size: auto 530px;
}

.divider h3 {
  background: var(--azul2ndTitleBG);
  border-top: solid 5px var(--laranjaCTAbg);
  font-size: 1.5rem;
  padding: .5rem 1rem;
  text-align: center;
}

.divider h5{
  font-size: .8rem;
  margin: .2rem 0;
  text-transform: uppercase;
}

.copy {
  margin: 1rem;
}

.news-index {
  background: var(--headerBg);
  margin: 1rem 0;
}

.news-index:hover {
  box-shadow: 5px 5px 4px rgba(0, 0, 0, .2);
}

.news-index:first-child {
  border-top: none;
}

.trecho {
  padding: .2rem 1rem;
}

@media screen and (min-width: 644px) {
  .copy {
    margin: 0 auto;
    max-width: 38rem;
  }

  .news-index {
    display: flex;
  }

  .featured-img{
    flex: 0 0 30%;
  }

  .trecho {
    flex: 0 0 70%;
    padding-left: 1rem;
  }
}

.card { 
  background: #f8ecd9; 
  padding: 1rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto minmax(auto, 38rem) auto;
  box-shadow: 5px -5px 4px rgba(0, 0, 0, .2);
}

.card:hover {
  box-shadow: none;
}

.card > h3, .card > img, .card > p, .card > a {
  grid-column: 2;
}

.card > h3 { 
  margin-top: 0; 
  color: var(--laranjaCTAbg);
}

.cta{
  background: var(--laranjaCTAbg);
  color: var(--brancoCTAbg);
  font-family: Chivo, Verdana, sans;
  font-weight: regular;
  font-size: 1rem;
  margin: 1.4rem auto;
  padding: .4rem .5rem;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.cta:hover{
  background: #a85854;
  box-shadow: none;
}

/* FOOTER */

footer { 
  background: var(--brancoCTAbg); 
  color: var(--text);
  margin: 1rem 0rem 3rem 0rem;
}

/* ANIMATIONS */

@keyframes slide {
  100% { left: 0%; }
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}