---
layout: default
title:  Levando famílias à harmonia.
type: index
---


  {% for cursos in site.cursos %}
    {% if cursos.title and cursos.layout == 'main-page' %}
      <div onclick="location.href='{{ site.url }}/{{ cursos.url }}';" class="box --hidden --anchor">
        <div class="box--esquerda box--anim box--cursos"><h3>{{ cursos.title }}</h3></div>
          <div class="box--direita box--small --rullerOnTop">
            <h4>Nossos Cursos</h4>
            {{ cursos.meta | markdownify }}
            <a class="button--dark" href="{{ site.url }}/{{ cursos.url }}">Quero saber mais…</a>
          </div>
      </div>
    {% endif %}
  {% endfor%}
  
  
  {% for seminarios in site.seminarios %}
    {% if seminarios.title and seminarios.layout == 'main-page' %}
      
      <div onclick="location.href='{{ site.url }}/{{ seminarios.url }}';" class="box --hidden --anchor">
          <div class="box--direita box--anim box--seminarios">
            <h3>{{ seminarios.title }}</h3>
          </div>

          <div class="box--esquerda --rullerOnTop box--small">
            <h4>Nossos Seminários</h4>
            {{ seminarios.meta | markdownify }}
            <a class="button--dark" href="{{ site.url }}/{{ seminarios.url }}">Quero saber mais…</a>
          </div>
          
      </div>
    {% endif %}
  {% endfor%}
    
    <div id="agenda" class="divider">
      <h3>O que estamos fazendo</h3>

      <div class="box --hidden --anchor">
    
      <div class="agenda">
        <h1>Setembro</h1>
        {% for agenda in site.data.agenda %}
          {% if agenda.date contains "/09/" %}
          {% include agenda.html %}
          {% endif %}
        {% endfor %}
        <h1>Outubro</h1>
        {% for agenda in site.data.agenda %}
          {% if agenda.date contains "/10/" %}
          {% include agenda.html %}
          {% endif %}
        {% endfor %}
        <h1>Novembro</h1>
        {% for agenda in site.data.agenda %}
          {% if agenda.date contains "/11/" %}
          {% include agenda.html %}
          {% endif %}
        {% endfor %}
        <h1>Dezembro</h1>
        {% for agenda in site.data.agenda %}
          {% if agenda.date contains "/12/" %}
          {% include agenda.html %}
          {% endif %}
        {% endfor %}
        <h1>2020</h1>
        {% for agenda in site.data.agenda %}
          {% if agenda.date contains "2020" %}
          {% include agenda.html %}
          {% endif %}
        {% endfor %}
      </div>
     
      </div> 
  </div>
  
  
  <div class="divider">
    <h3>Publicações</h3>
    <div class="box --hidden">
      <div class="box--full">
        <p>Parte da nossa <a href="{{ site.url }}/quemsomos/">missão</a> é publicar conteúdo que ajude  pastores, psicólogos e voluntários a estarem melhores preparados a cuidarem da família. </p>
          
        <h4><a href="{{ site.url }}/artigos/">Artigos</a></h4>
        <p>Os <a href="{{ site.url }}/artigos/">artigos</a> são escritos pelos nossos professores e podem ser lidos na <a href="{{ site.url }}/artigos/">página dos artigos.</a></p> 
        
        <h4><a href="{{ site.url }}/monografias/">Monografias</a></h4>
        <p>Você pode também consultar as <a href="{{ site.url }}/monografias/">monografias</a> publicadas pelos nossos alunos escritos no final dos <a href="{{ site.url }}/cursos/">nossos cursos.</a></p>
        <p>As monografias podem ser adquiridas por correio ou por email. Mais informações estão disponíveis na <a href="{{ site.url }}/monografias/">página das monografias.</a></p>
      </div>
    </div> 
  </div>

