</div> 
  <footer>
    <p style="text-align: center;">Eirene ©  {{ site.time | date: '%Y' }} </p> 
  </footer>
 
</body>

<script src="{{ site.url }}/js/hamburger.js"></script>
<script src="{{ site.url }}/js/menu.js"></script>
<script src="{{ site.url }}/js/touch.js"></script>
<script src="{{ site.url }}/js/scroll-anim.js"></script>
<script src="{{ site.url }}/js/breadcrumb.js"></script>
<script src="{{ site.url }}/js/swup.js"></script>
<script>var swup = new Swup() </script>

{% if page.layout == 'inscreva' %}
  <script src="{{ site.url }}/js/tingle.min.js"></script>
  <script type="text/javascript">

    /* Modal big */

    var modalBigContent = new tingle.modal();
    var btn3 = document.querySelector('.modal');
    btn3.addEventListener('click', function(){
        modalBigContent.open();
    });
    modalBigContent.setContent(document.querySelector('.modal-content').innerHTML);

    
  </script>
{% endif %}
  <script type="text/javascript">
    function showLinks() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block"
      }
    }
  </script>
</html>