
  <header>
    <div class="brand">
      <a href="{{ site.baseurl }}/index.html"><img src="{{ '/img/logo.png' | prepend: site.baseurl }}" alt="Logo do Eirene"></a>
    </div>
    
    <nav>
      {% include nav.html %}
    </nav>

    <div class="hero hero--index">
      <h1>Levando famílias à harmonia</h1>
      <h2>Entender o contexto e a história de uma família é essencial para que leigos e profissionais ajudem as pessoas a terem uma vida e relacionamentos saudáveis.</h2>
    </div>
  </header>
