
  <header>
    <div class="brand">
      <a href="{{ site.baseurl }}/index.html"><img src="{{ '/img/logo.png' | prepend: site.baseurl }}" alt="Logo do Eirene"></a>
    </div>
    
    <nav>
      {% include nav.html %}
    </nav>

    <div class="hero hero--index">
      <h1>Levando famílias à harmonia</h1>
      <h2>Nós ajudamos leigos e profissionais da família a entenderem o contexto e a história das pessoas para que possam ter uma vida e relacionamentos saudáveis.</h2>
    </div>
  </header>
