
  <header>
  {% if page.type == 'index' %}
    <div class="hero hero--index">
      <div class="brand--index">
        <a href="{{ site.url }}/index.html"><img src="{{ '/img/logo-white.png' | prepend: site.url }}" alt="Logo do Eirene"></a>
      </div>
      
      <h2>Entender o contexto e a história de uma família é essencial para que profissionais e profissionais ajudem as pessoas a terem uma vida e relacionamentos saudáveis.</h2>
    </div>
  {% else %}
    
    <div class="brand">
      <a href="{{ site.url }}/index.html"><img src="{{ '/img/logo-white-small.png' | prepend: site.url }}" alt="Logo do Eirene"></a>
    </div>

    <h1 class="header--title">Levando famílias à harmonia</h1>

  {% endif %}

    <nav>
      {% include nav.html %}
    </nav>

  </header>
