
  <a class="alwaysShow" href="{{ site.url }}/cursos/">Estude com a gente</a>

<div id="myLinks" class="hiddenOnMobile">
  <a class="hiddenOnMobile--item" href="{{ site.url }}/seminarios/">Leve o Eirene até sua igreja</a>

  <a class="hiddenOnMobile--item" href="{{ site.url }}/quem-somos/">Quem somos</a>

  <a class="hiddenOnMobile--item" href="{{ site.url }}/artigos/">Artigos</a>

  <a class="hiddenOnMobile--item" href="{{ site.url }}/monografias/">Monografias</a>
</div>

<a href="javascript:void(0);" class="showOnMobile" onclick="showLinks()">Menu</a>