<nav>
  <div id="hidden">
    <div class="menu">
      <a  class="menu-item animsition-link" href="{{ site.baseurl }}/quem-somos/">Quem somos</a>
      <a  class="menu-item animsition-link" href="{{ site.baseurl }}/cursos/">Cursos</a>
      <a  class="menu-item animsition-link" href="{{ site.baseurl }}/seminarios/">Seminários</a>
      <a  class="menu-item animsition-link" href="{{ site.baseurl }}/artigos/">Artigos</a>
      <a  class="menu-item animsition-link" href="{{ site.baseurl }}/monografias/">Monografias</a>
    </div>
  </div>
  <div class="navbar">
    <div class="nav-item">
      <a  href="{{ site.baseurl }}/cursos/" class="call">Estude com a gente</a>
    </div>
    <div id="menu-button" class="nav-item">
      <div class="hamburger hamburger--minus">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
      <span>Menu</span>
    </div>
  </div>
</nav>