---
layout: posts
title: Artigos
type: Artigos
meta:
---


<div class="box">

  <div class="box--full">

    <h2>Segue abaixo a lista dos artigos publicados pelos nossos professores</h2>
    
    <box--card>
      {% for artigos in site.artigos %}
        {% if artigos.layout == 'texto' %}
        <h3>{{ artigos.title }}</h3>
        <p>Por {{ artigos.autor }}</p>
        <p><em>{{ artigos.excerpt }}</em> <span class="--more"><a href="{{ site.url }}/{{ artigos.url }}">Quero ler mais…</a>
        </span></p>
        <hr>
        {% endif %}
      {% endfor %}</div>
    </box--card>
</div>

